
<ul class="list-inline">
	<li class="list-inline-item m-0"><button type="button" class="btn-sm btn-outline-primary" @onclick="@(async () => await @OnPageSizeChanged(10))">10</button></li>
	<li class="list-inline-item  m-0">/</li>
	<li class="list-inline-item m-0"><button type="button" class="btn-sm btn-outline-primary" @onclick="@(async () => await @OnPageSizeChanged(20))">20</button></li>
	<li class="list-inline-item m-0">/</li>
	<li class="list-inline-item m-0"><button type="button" class="btn-sm btn-outline-primary" @onclick="@(async () => await @OnPageSizeChanged(30))">30</button></li>
</ul>


@code {
	[Parameter]
	public Func<int, Task> OnPageSizeChanged { get; set; } = default!;
}